In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [87]:
grades = np.random.randint(1,7, 60)
freq_dict = {i: np.sum(grades == i) for i in range(1, 7)}
freq_dict

{1: 13, 2: 13, 3: 9, 4: 7, 5: 6, 6: 12}

In [88]:
df = pd.DataFrame.from_dict(freq_dict, orient='index', columns=['abs f'])
df.index.name = 'grades'

In [89]:
df

        abs f
grades
1          13
2          13
3           9
4           7
5           6
6          12

In [90]:
df['rel f'] = round(df['abs f'] / len(grades), 3)
df['abs cum f'] = df['abs f'].cumsum()
df['rel cum f'] = round(df['rel f'].cumsum(), 2)

In [91]:
df

        abs f  rel f  abs cum f  rel cum f
grades
1          13  0.217         13       0.22
2          13  0.217         26       0.43
3           9  0.150         35       0.58
4           7  0.117         42       0.70
5           6  0.100         48       0.80
6          12  0.200         60       1.00