In [1]:
import pandas as pd
import numpy as np

In [2]:
try:
    recipes = pd.read_json(r'C:\Users\jensm\Desktop\local\GitHub\recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

ValueError: Trailing data

In [3]:
import json

json_objects = []

with open(r'C:\Users\jensm\Desktop\local\GitHub\recipeitems-latest.json', 'r', encoding='utf-8') as f:
    for line in f:
        json_objects.append(json.loads(line.strip()))

combined_json = json.dumps(json_objects)

#with open('combined_recipes.json', 'w', encoding='utf-8') as f:
#    f.write(combined_json)

In [4]:
recipes = pd.read_json(combined_json)

In [12]:
recipes.info(); recipes.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173278 entries, 0 to 173277
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id                 173278 non-null  object
 1   name                173278 non-null  object
 2   ingredients         173278 non-null  object
 3   url                 173278 non-null  object
 4   image               158278 non-null  object
 5   ts                  173278 non-null  object
 6   cookTime            117936 non-null  object
 7   source              173278 non-null  object
 8   recipeYield         165628 non-null  object
 9   datePublished       78110 non-null   object
 10  prepTime            130186 non-null  object
 11  description         158068 non-null  object
 12  totalTime           1570 non-null    object
 13  creator             395 non-null     object
 14  recipeCategory      388 non-null     object
 15  dateModified        161 non-null     object
 16  recipeInstructions  4 non-null       object
dtypes: object(17)
memory usage: 22.5+ MB

(173278, 17)

In [13]:
recipes.loc[0,'description']

'Late Saturday afternoon, after Marlboro Man had returned home with the soccer-playing girls, and I had returned home with the...'

In [19]:
pd.options.display.max_colwidth = 20
pd.options.display.max_colwidth

20

In [17]:
recipes.iloc[0]

_id                                                                                                                                                                                                                                                                                                                     {'$oid': '5160756b96cc62079cc2db15'}
name                                                                                                                                                                                                                                                                                                                         Drop Biscuits and Sausage Gravy
ingredients           Biscuits\n3 cups All-purpose Flour\n2 Tablespoons Baking Powder\n1/2 teaspoon Salt\n1-1/2 stick (3/4 Cup) Cold Butter, Cut Into Pieces\n1-1/4 cup Butermilk\n SAUSAGE GRAVY\n1 pound Breakfast Sausage, Hot Or Mild\n1/3 cup All-purpose Flour\n4 cups Whole Milk\n1/2 teaspoon Seasoned Salt\n2 teaspoons Black Pepper, More To Taste
url                                                                                                                                                                                                                                                                              http://thepioneerwoman.com/cooking/2013/03/drop-biscuits-and-sausage-gravy/
image                                                                                                                                                                                                                                                                                    http://static.thepioneerwoman.com/cooking/files/2013/03/bisgrav.jpg
ts                                                                                                                                                                                                                                                                                                                                  {'$date': 1365276011104}
cookTime                                                                                                                                                                                                                                                                                                                                               PT30M
source                                                                                                                                                                                                                                                                                                                                       thepioneerwoman
recipeYield                                                                                                                                                                                                                                                                                                                                               12
datePublished                                                                                                                                                                                                                                                                                                                                     2013-03-11
prepTime                                                                                                                                                                                                                                                                                                                                               PT10M
description                                                                                                                                                                                                                 Late Saturday afternoon, after Marlboro Man had returned home with the soccer-playing girls, and I had returned home with the...
totalTime                                                                                                                                                                                                                                                                                                                                                NaN
creator                                                                                                                                                                                                                                                                                                                                                  NaN
recipeCategory                                                                                                                                                                                                                                                                                                                                           NaN
dateModified                                                                                                                                                                                                                                                                                                                                             NaN
recipeInstructions                                                                                                                                                                                                                                                                                                                                       NaN
Name: 0, dtype: object

In [22]:
recipes.head()

,_id,name,ingredients,url,image,ts,cookTime,source,recipeYield,datePublished,prepTime,description,totalTime,creator,recipeCategory,dateModified,recipeInstructions
0,{'$oid': '516075...,Drop Biscuits an...,Biscuits\n3 cups...,http://thepionee...,http://static.th...,{'$date': 136527...,PT30M,thepioneerwoman,12,2013-03-11,PT10M,Late Saturday af...,NaN,NaN,NaN,NaN,NaN
1,{'$oid': '516075...,Hot Roast Beef S...,12 whole Dinner ...,http://thepionee...,http://static.th...,{'$date': 136527...,PT20M,thepioneerwoman,12,2013-03-13,PT20M,When I was growi...,NaN,NaN,NaN,NaN,NaN
2,{'$oid': '516075...,Morrocan Carrot ...,Dressing:\n1 tab...,http://www.101co...,http://www.101co...,{'$date': 136527...,NaN,101cookbooks,NaN,2013-01-07,PT15M,A beauty of a ca...,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '516075...,Mixed Berry Shor...,Biscuits\n3 cups...,http://thepionee...,http://static.th...,{'$date': 136527...,PT15M,thepioneerwoman,8,2013-03-18,PT15M,It's Monday! It'...,NaN,NaN,NaN,NaN,NaN
4,{'$oid': '516075...,Pomegranate Yogu...,For each bowl: \...,http://www.101co...,http://www.101co...,{'$date': 136527...,NaN,101cookbooks,Serves 1.,2013-01-20,PT5M,A simple breakfa...,NaN,NaN,NaN,NaN,NaN

In [23]:
recipes.ingredients.str.len().describe()

count    173278.000000
mean        244.617343
std         146.704308
min           0.000000
25%         147.000000
50%         221.000000
75%         314.000000
max        9067.000000
Name: ingredients, dtype: float64

In [24]:
recipes.name[np.argmax(recipes.ingredients.str.len())]

'Carrot Pineapple Spice &amp; Brownie Layer Cake with Whipped Cream &amp; Cream Cheese Frosting and Marzipan Carrots'

In [29]:
recipes.description.str.contains('[Bb]reakfast').sum()

3524

In [30]:
recipes.ingredients.str.contains('[Cc]innamon').sum()

10526

In [32]:
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley',
              'rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

In [94]:
import re
spice_df = pd.DataFrame({spice: recipes.ingredients.str.contains(spice, re.IGNORECASE)
                             for spice in spice_list})
spice_df.head()

,salt,pepper,oregano,sage,parsley,rosemary,tarragon,thyme,paprika,cumin
0,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,True,True,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [95]:
#ok alright
recipes.iloc[2].ingredients.__contains__('salt'), 'salt' in recipes.iloc[2].ingredients

(True, True)

In [96]:
recipes.ingredients.str.contains('salt', re.IGNORECASE)

0         False
1         False
2          True
3         False
4         False
          ...
173273    False
173274    False
173275     True
173276     True
173277     True
Name: ingredients, Length: 173278, dtype: bool

In [97]:
selection = spice_df.query('parsley & paprika & tarragon')
len(selection)

10

In [98]:
pd.options.display.max_colwidth = 100
recipes.name[selection.index]

2069      All cremat with a Little Gem, dandelion and watercress salad served with aioli
74964                                                      Lobster with Thermidor butter
93768                                   Burton's Southern Fried Chicken with White Gravy
113926                                                  Mijo's Slow Cooker Shredded Beef
137686                                                  Asparagus Soup with Poached Eggs
140530                                                              Fried Oyster Poâ€™boys
158475                                             Lamb shank tagine with herb tabbouleh
158486                                              Southern fried chicken in buttermilk
163175                                         Fried Chicken Sliders with Pickles + Slaw
165243                                                     Bar Tartine Cauliflower Salad
Name: name, dtype: object

In [99]:
selection.index

Index([2069, 74964, 93768, 113926, 137686, 140530, 158475, 158486, 163175,
       165243],
      dtype='int64')

In [81]:
#looks like some kind of dict comprehension syntax
display(pd.DataFrame({i: range(3) for i in range(5)}), pd.DataFrame(dict((i, range(3)) for i in range(5))))

   0  1  2  3  4
0  0  0  0  0  0
1  1  1  1  1  1
2  2  2  2  2  2

   0  1  2  3  4
0  0  0  0  0  0
1  1  1  1  1  1
2  2  2  2  2  2