In [1]:
from datetime import datetime
datetime(year=2015, month=7, day=4)

datetime.datetime(2015, 7, 4, 0, 0)

In [2]:
from dateutil import parser
date = parser.parse("4th of July, 2015")
date

datetime.datetime(2015, 7, 4, 0, 0)

In [3]:
date.strftime('%A')

'Saturday'

In [4]:
parser.parse('23:53')

datetime.datetime(2023, 7, 26, 23, 53)

In [5]:
parser.parse('7/21/2023, 4:38')

datetime.datetime(2023, 7, 21, 4, 38)

------------------
--------------------

In [6]:
#the numpy datetime dtype has different resolutions for example [D] for day and [m] for minutes
import numpy as np
date = np.array('2015-07-04', dtype=np.datetime64)
date

array('2015-07-04', dtype='datetime64[D]')

In [7]:
date + np.arange(8)

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11'],
      dtype='datetime64[D]')

In [8]:
np.datetime64('2015-07-04 12:00') + np.arange(6)

array(['2015-07-04T12:00', '2015-07-04T12:01', '2015-07-04T12:02',
       '2015-07-04T12:03', '2015-07-04T12:04', '2015-07-04T12:05'],
      dtype='datetime64[m]')

In [9]:
np.datetime64('2015-07-04 12:59:59.50', 'ns')

numpy.datetime64('2015-07-04T12:59:59.500000000')

In [10]:
np.datetime64('2010-01-23 10:00', 'h')

numpy.datetime64('2010-01-23T10','h')

In [11]:
(np.timedelta64(2, 'h') + np.arange(10)) + 30

array([32, 33, 34, 35, 36, 37, 38, 39, 40, 41], dtype='timedelta64[h]')

------------------
-------------------

In [12]:
import pandas as pd
date = pd.to_datetime("4th of July, 2015")
#date.strftime?

In [13]:
date.strftime('%Y-%m-%d %A %X')

'2015-07-04 Saturday 00:00:00'

In [14]:
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
               '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
               '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
              dtype='datetime64[ns]', freq=None)

In [15]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [16]:
data['2015'].index

DatetimeIndex(['2015-07-04', '2015-08-04'], dtype='datetime64[ns]', freq=None)

In [17]:
#pd.do_datetime can parse various date formats
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015',
                       '2015-Jul-6', '07-07-2015', '20150708'])
dates

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)

In [18]:
dates.to_period('D')

PeriodIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
             '2015-07-08'],
            dtype='period[D]')

In [19]:
dates - dates[0]

TimedeltaIndex(['0 days', '1 days', '3 days', '4 days', '5 days'], dtype='timedelta64[ns]', freq=None)

In [20]:
pd.date_range('2015-07-03', '2015-07-10')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.date_range('2015-07-03', periods=8, freq='H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [22]:
pd.period_range('2015-07', periods=6, freq='M')

PeriodIndex(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12'], dtype='period[M]')

In [23]:
pd.timedelta_range(0, periods=8, freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [24]:
#By adding S suffix to the M, Q, A the Index will begin at the start of 
#the corresponding freq
(pd.date_range('2020', periods=5, freq='M' ), 
pd.date_range('2020', periods=5, freq='MS' ))

(DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
                '2020-05-31'],
               dtype='datetime64[ns]', freq='M'),
 DatetimeIndex(['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
                '2020-05-01'],
               dtype='datetime64[ns]', freq='MS'))

In [25]:
#...
pd.date_range('2020', periods=5, freq='Q-FEB')

DatetimeIndex(['2020-02-29', '2020-05-31', '2020-08-31', '2020-11-30',
               '2021-02-28'],
              dtype='datetime64[ns]', freq='Q-FEB')

In [26]:
pd.date_range('2020', periods=5, freq='W-FRI')

DatetimeIndex(['2020-01-03', '2020-01-10', '2020-01-17', '2020-01-24',
               '2020-01-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [27]:
#more specifically...
pd.timedelta_range(0, periods=9, freq="2H30T")

TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:00', '0 days 05:00:00',
                '0 days 07:30:00', '0 days 10:00:00', '0 days 12:30:00',
                '0 days 15:00:00', '0 days 17:30:00', '0 days 20:00:00'],
               dtype='timedelta64[ns]', freq='150T')

In [28]:
from pandas.tseries.offsets import BDay
pd.date_range('2015-07-01', periods=5, freq=BDay())

DatetimeIndex(['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-06',
               '2015-07-07'],
              dtype='datetime64[ns]', freq='B')

In [29]:
ts = pd.Timestamp(2022, 12, 9, 15)
ts.strftime('%a %d %b %Y %H:%M')

'Fri 09 Dec 2022 15:00'

In [ ]:
from math import *

In [ ]:
degrees

In [ ]:
#flip the triangle
np.sin(np.radians(42)) == np.cos(np.radians(48))

In [ ]:
#there is some identity
for i in range(0,90,5):
    print(np.allclose(np.cos(np.radians(i-90)), np.sin(np.radians(i))))

In [ ]:
for i in range(20):
    print(sin(i)**2 + cos(i)**2)