In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [3]:
df = pd.DataFrame(planets)

In [4]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
df['mass'].mean()

2.6381605847953216

In [6]:
df['mass'].isnull().value_counts()

mass
True     522
False    513
Name: count, dtype: int64

In [7]:
df.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [8]:
df.groupby('method').describe()

                              number                                           \
                               count      mean       std  min  25%  50%   75%
method
Astrometry                       2.0  1.000000  0.000000  1.0  1.0  1.0  1.00
Eclipse Timing Variations        9.0  1.666667  0.500000  1.0  1.0  2.0  2.00
Imaging                         38.0  1.315789  0.933035  1.0  1.0  1.0  1.00
Microlensing                    23.0  1.173913  0.387553  1.0  1.0  1.0  1.00
Orbital Brightness Modulation    3.0  1.666667  0.577350  1.0  1.5  2.0  2.00
Pulsar Timing                    5.0  2.200000  1.095445  1.0  1.0  3.0  3.00
Pulsation Timing Variations      1.0  1.000000       NaN  1.0  1.0  1.0  1.00
Radial Velocity                553.0  1.721519  1.157141  1.0  1.0  1.0  2.00
Transit                        397.0  1.954660  1.399119  1.0  1.0  1.0  2.00
Transit Timing Variations        4.0  2.250000  0.500000  2.0  2.0  2.0  2.25

                                   orbital_period                 ...  \
                               max          count           mean  ...
method                                                            ...
Astrometry                     1.0            2.0     631.180000  ...
Eclipse Timing Variations      2.0            9.0    4751.644444  ...
Imaging                        4.0           12.0  118247.737500  ...
Microlensing                   2.0            7.0    3153.571429  ...
Orbital Brightness Modulation  2.0            3.0       0.709307  ...
Pulsar Timing                  3.0            5.0    7343.021201  ...
Pulsation Timing Variations    1.0            1.0    1170.000000  ...
Radial Velocity                6.0          553.0     823.354680  ...
Transit                        7.0          397.0      21.102073  ...
Transit Timing Variations      3.0            3.0      79.783500  ...

                                distance            year               \
                                     75%      max  count         mean
method
Astrometry                       19.3225    20.77    2.0  2011.500000
Eclipse Timing Variations       500.0000   500.00    9.0  2010.000000
Imaging                         132.6975   165.00   38.0  2009.131579
Microlensing                   4747.5000  7720.00   23.0  2009.782609
Orbital Brightness Modulation  1180.0000  1180.00    3.0  2011.666667
Pulsar Timing                  1200.0000  1200.00    5.0  1998.400000
Pulsation Timing Variations          NaN      NaN    1.0  2007.000000
Radial Velocity                  59.2175   354.00  553.0  2007.518987
Transit                         650.0000  8500.00  397.0  2011.236776
Transit Timing Variations      1487.0000  2119.00    4.0  2012.500000

                                                                           \
                                    std     min      25%     50%      75%
method
Astrometry                     2.121320  2010.0  2010.75  2011.5  2012.25
Eclipse Timing Variations      1.414214  2008.0  2009.00  2010.0  2011.00
Imaging                        2.781901  2004.0  2008.00  2009.0  2011.00
Microlensing                   2.859697  2004.0  2008.00  2010.0  2012.00
Orbital Brightness Modulation  1.154701  2011.0  2011.00  2011.0  2012.00
Pulsar Timing                  8.384510  1992.0  1992.00  1994.0  2003.00
Pulsation Timing Variations         NaN  2007.0  2007.00  2007.0  2007.00
Radial Velocity                4.249052  1989.0  2005.00  2009.0  2011.00
Transit                        2.077867  2002.0  2010.00  2012.0  2013.00
Transit Timing Variations      1.290994  2011.0  2011.75  2012.5  2013.25


                                  max
method
Astrometry                     2013.0
Eclipse Timing Variations      2012.0
Imaging                        2013.0
Microlensing                   2013.0
Orbital Brightness Modulation  2013.0
Pulsar Timing                  2011.0
Pulsation Timing Variations    2007.0
Radial Velocity                2014.0
Transit                        2014.0
Transit Timing Variations      2014.0

[10 rows x 40 columns]

### These are all methods of DataFrame and Series objects:
count(), first(), last(), mean(), median(), min(), max(),
std(), var(), mad(), prod(), sum()

In [9]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [10]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [13]:
L = []
for (method, group) in planets.groupby('method'):
    L.append(group)

In [17]:
L[1]

                       method  number  orbital_period  mass  distance  year
32  Eclipse Timing Variations       1        10220.00  6.05       NaN  2009
37  Eclipse Timing Variations       2         5767.00   NaN    130.72  2008
38  Eclipse Timing Variations       2         3321.00   NaN    130.72  2008
39  Eclipse Timing Variations       2         5573.55   NaN    500.00  2010
40  Eclipse Timing Variations       2         2883.50   NaN    500.00  2010
41  Eclipse Timing Variations       1         2900.00   NaN       NaN  2011
42  Eclipse Timing Variations       1         4343.50  4.20       NaN  2012
43  Eclipse Timing Variations       2         5840.00   NaN       NaN  2011
44  Eclipse Timing Variations       2         1916.25   NaN       NaN  2011