In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
grades = np.random.randint(1,7, 60)
freq_dict = {i: np.sum(grades == i) for i in range(1, 7)}
freq_dict

{1: 9, 2: 8, 3: 9, 4: 6, 5: 15, 6: 13}

In [12]:
df = pd.DataFrame.from_dict(freq_dict, orient='index', columns=['abs_freq'])
df.index.name = 'grades'

In [13]:
df

        abs_freq
grades
1              9
2              8
3              9
4              6
5             15
6             13

In [15]:
df['rel_freq'] = round(df['abs_freq'] / len(grades), 3)
df['abs_cum_freq'] = df['abs_freq'].cumsum()
df['rel_cum_freq'] = round(df['rel_freq'].cumsum(), 2)

In [16]:
df

        abs_freq  rel_freq  abs_cum_freq  rel_cum_freq
grades
1              9     0.150             9          0.15
2              8     0.133            17          0.28
3              9     0.150            26          0.43
4              6     0.100            32          0.53
5             15     0.250            47          0.78
6             13     0.217            60          1.00

In [28]:
a = 0

for i in df.index:
    a += i * df['abs_freq'][i]
    
avg_grade = a/sum(df['abs_freq'])
avg_grade

3.816666666666667

In [18]:
df.describe()

       abs_freq  rel_freq  abs_cum_freq  rel_cum_freq
count   6.00000  6.000000      6.000000      6.000000
mean   10.00000  0.166667     31.833333      0.528333
std     3.34664  0.055877     18.967516      0.316317
min     6.00000  0.100000      9.000000      0.150000
25%     8.25000  0.137250     19.250000      0.317500
50%     9.00000  0.150000     29.000000      0.480000
75%    12.00000  0.200250     43.250000      0.717500
max    15.00000  0.250000     60.000000      1.000000

In [ ]:
plt.hist(df['abs f'])