In [1]:
import pandas as pd

In [2]:
def hummus(factor):
    def ingredient(amount, unit, name):
        ingredientAmount = amount * factor
        if ingredientAmount > 1:
            unit += "s"
        print(f"{ingredientAmount} {unit} {name}")
    
    ingredient(1, "can", "chickpeas")
    ingredient(0.25, "cup", "tahini")
    ingredient(0.25, "cup", "lemon juice")
    ingredient(1, "clove", "garlic")
    ingredient(2, "tablespoon", "olive oil")
    ingredient(0.5, "teaspoon", "cumin")

In [3]:
hummus(3)

3 cans chickpeas
0.75 cup tahini
0.75 cup lemon juice
3 cloves garlic
6 tablespoons olive oil
1.5 teaspoons cumin

In [4]:
class Food_:
    def __init__(self, name):
        self.name = name
        self.ingredients = {}
    
    def add_ingredients(self, ingredients):
        self.ingredients.update(ingredients)
    
    def print_recipe(self, factor):
        print(f"Recipe for {self.name}:")
        for name, ingredient in self.ingredients.items():
            amount = ingredient["amount"]
            unit = ingredient["unit"] 
            if amount > 1:
                unit += "s"
            print(f"{amount*factor} {unit} {name}")

In [5]:
class Food:
    def __init__(self, name):
        self.name = name
        self.ingredients = {}
    
    def add_ingredients(self, ingredients):        
        for name, data in ingredients.items():
            amount, unit = data
            self.ingredients[name] = {"amount": amount, "unit": unit}

        
    
    def print_recipe(self, factor):
        print(f"Recipe for {self.name}:")
        for name, ingredient in self.ingredients.items():
            amount = ingredient["amount"]
            unit = ingredient["unit"]
            if amount > 1:
                unit += "s"
            print(f"{amount*factor} {unit} {name}")

            
#using df makes a lot of sense i guess            
    def get_df(self, factor):
        self.df = pd.DataFrame.from_dict(ingredients)
        self.df.index = ['amount', 'unit']
        self.df = self.df.T
        self.df['amount'] = self.df['amount'] * factor
        return self.df

In [6]:
omlette = Food("Omlette")
ingredients = {
    'eggs'    : [1, 'whole'],
    'salt'    : [3, 'tablespoon'],
    'garlic'  : [1, 'clove'],
    'eggwhite': [100, 'gramm'] 
}

omlette.add_ingredients(ingredients)

In [7]:
omlette.get_df(3)

         amount        unit
eggs          3       whole
salt          9  tablespoon
garlic        3       clove
eggwhite    300       gramm

In [8]:
for name, items in ingredients.items():
    print(name, items)

eggs [1, 'whole']
salt [3, 'tablespoon']
garlic [1, 'clove']
eggwhite [100, 'gramm']

In [9]:
omlette.print_recipe(3)

Recipe for Omlette:
3 whole eggs
9 tablespoons salt
3 clove garlic
300 gramms eggwhite

In [10]:
for i in ingredients.items():
    print(i)

('eggs', [1, 'whole'])
('salt', [3, 'tablespoon'])
('garlic', [1, 'clove'])
('eggwhite', [100, 'gramm'])

In [11]:
import json

In [12]:
#notice that these are example recipes, nothing i would cook for myself
recipes = {
    'omlette': {
        'eggs'    : [1, 'whole'],
        'salt'    : [3, 'tablespoon'],
        'garlic'  : [1, 'clove'],
        'eggwhite': [100, 'gramm']
    },
    'pancakes': {
        'flour': [200, 'grams'],
        'milk': [250, 'milliliters'],
        'eggs': [2, 'whole'],
        'sugar': [2, 'tablespoons'],
        'baking powder': [2, 'teaspoons'],
        'salt': [1, 'pinch']
         },
    'spaghetti bolognese': {
        'spaghetti': [200, 'grams'],
        'ground beef': [300, 'grams'],
        'onion': [1, 'whole'],
        'garlic': [2, 'cloves'],
        'tomato sauce': [400, 'milliliters'],
        'red wine': [100, 'milliliters'],
        'olive oil': [2, 'tablespoons'],
        'salt': [1, 'teaspoon'],
        'pepper': [1, 'teaspoon']
        },
    'caesar salad': {
        'romaine lettuce': [1, 'head'],
        'croutons': [100, 'grams'],
        'parmesan cheese': [50, 'grams'],
        'chicken breast': [2, 'whole'],
        'anchovy fillets': [4, 'whole']
        }
}

In [13]:
with open('recipes.json', 'w') as file:
    json.dump(recipes, file)

In [14]:
with open('recipes.json', 'r') as file:
    loaded_recipes = json.load(file)

In [15]:
loaded_recipes['spaghetti bolognese']

{'spaghetti': [200, 'grams'],
 'ground beef': [300, 'grams'],
 'onion': [1, 'whole'],
 'garlic': [2, 'cloves'],
 'tomato sauce': [400, 'milliliters'],
 'red wine': [100, 'milliliters'],
 'olive oil': [2, 'tablespoons'],
 'salt': [1, 'teaspoon'],
 'pepper': [1, 'teaspoon']}

In [16]:
type(loaded_recipes['omlette'].items())

dict_items

In [17]:
for key, value in loaded_recipes['omlette'].items():
    print(key,':', value)

eggs : [1, 'whole']
salt : [3, 'tablespoon']
garlic : [1, 'clove']
eggwhite : [100, 'gramm']

In [18]:
for key, value in loaded_recipes.items():
    print(key + ':')
    print('')
    for k2, v2 in value.items():
        print(k2, v2)
    print('')
    print('')

omlette:

eggs [1, 'whole']
salt [3, 'tablespoon']
garlic [1, 'clove']
eggwhite [100, 'gramm']


pancakes:

flour [200, 'grams']
milk [250, 'milliliters']
eggs [2, 'whole']
sugar [2, 'tablespoons']
baking powder [2, 'teaspoons']
salt [1, 'pinch']


spaghetti bolognese:

spaghetti [200, 'grams']
ground beef [300, 'grams']
onion [1, 'whole']
garlic [2, 'cloves']
tomato sauce [400, 'milliliters']
red wine [100, 'milliliters']
olive oil [2, 'tablespoons']
salt [1, 'teaspoon']
pepper [1, 'teaspoon']


caesar salad:

romaine lettuce [1, 'head']
croutons [100, 'grams']
parmesan cheese [50, 'grams']
chicken breast [2, 'whole']
anchovy fillets [4, 'whole']

In [19]:
food = []
dfs = []
for i, (key, value) in enumerate(recipes.items()):
    food.append(Food(key))
    food[i].add_ingredients(value)
    dfs.append(food[i].get_df(1))

In [20]:
dfs

[         amount        unit
 eggs          1       whole
 salt          3  tablespoon
 garlic        1       clove
 eggwhite    100       gramm,
          amount        unit
 eggs          1       whole
 salt          3  tablespoon
 garlic        1       clove
 eggwhite    100       gramm,
          amount        unit
 eggs          1       whole
 salt          3  tablespoon
 garlic        1       clove
 eggwhite    100       gramm,
          amount        unit
 eggs          1       whole
 salt          3  tablespoon
 garlic        1       clove
 eggwhite    100       gramm]

In [21]:
combined_df = pd.concat(dfs, keys=[i for i in recipes])

In [22]:
combined_df

                             amount        unit
omlette             eggs          1       whole
                    salt          3  tablespoon
                    garlic        1       clove
                    eggwhite    100       gramm
pancakes            eggs          1       whole
                    salt          3  tablespoon
                    garlic        1       clove
                    eggwhite    100       gramm
spaghetti bolognese eggs          1       whole
                    salt          3  tablespoon
                    garlic        1       clove
                    eggwhite    100       gramm
caesar salad        eggs          1       whole
                    salt          3  tablespoon
                    garlic        1       clove
                    eggwhite    100       gramm

In [23]:
omlette = combined_df.loc['omlette']
omlette

         amount        unit
eggs          1       whole
salt          3  tablespoon
garlic        1       clove
eggwhite    100       gramm

In [24]:
omlette.loc[:, 'amount'] *= 2

In [25]:
omlette

         amount        unit
eggs          2       whole
salt          6  tablespoon
garlic        2       clove
eggwhite    200       gramm